.blogs-list {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}
.box-container {
    display: flex;
    cursor: pointer;
    flex-direction: column;
    border-radius: 10px;
    flex-basis: 15%;
    flex-wrap: wrap;
    width: 100%;
    min-width: 250px;
    max-width: 500px;
    box-shadow: 0 3px 6px rgba(0,0,0,0.16), 0 3px 6px rgba(0,0,0,0.23);
    height: 300px;
    margin-right: 20px;
    margin-bottom: 20px;
    font-family: 'Roboto';
}
.box-container:hover {
    transform: scale(1.04);
}
.image-container {
    /* height: 40%; */
}

.blog-container {
    display: flex;
}

.blog-filters {
    width: 30%;
}